* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 15px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    width: 1000px;
    overflow-x: hidden;
}



.form-control .error{
    margin-top: 0;
    margin-bottom: 15px;
    color: hsl(0, 100%, 66%);
    visibility: visible;
    font-size: 14px;
   
}

.form-control .error input {
	border:  hsl(0, 100%, 66%);
}

.form-control .success input {
	/* border-color: #2ecc71; */
    border: 4px solid green;
}


.input-error{
    border-color:  hsl(0, 100%, 66%);
}

.success{
    border: 1px solid #2ecc71;
}


.container{
    display: flex;
    
}
.bg-main{
    width: 30%;
    background-image: url("../../images/bg-main-desktop.png");
}

.credit-card{
    width: 400px;
    position: relative;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 80px
}

.card-logo{
    position: absolute;
    top: 20px;
    left: 30px;
    right: 0;
    bottom: 0;
}

.card-details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    color: #fff;
}

.card-number {
    font-size: 29px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    margin-left: 15px;
}

.card-holder {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-left: 15px;
}
.value, .cvc-value, .date{
    font-size: 14px;
}

.card-image-back{
    position: relative;
    margin: 20px 10px 0 170px;
    /* box-shadow: 0px 5px 10px 1px hsl(279, 6%, 55%)   */
}

.text-overlay{
    position: absolute;
    letter-spacing: 1px;
    top: 450px;
    left: 500px;
    right: 0;
    bottom: 0;
    color: #fff;
    padding: 30px;
}

/* .cvc-value{
    position: absolute;
    top: 0;
    right: 280px;
    left: 120px;
    bottom: 190px;
    text-align: center;
    margin-bottom: 25px;  
    color: red; 
} */


.form-container{
    width: 100%;
    margin: 150px 100px 150px 450px;
}

.form-container small{
    margin: 0
}

input{
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    width: 50%;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    border: 1px gray solid;
    border-radius: 5px;
    outline: none;
    color: hsl(270, 1%, 42%);
}

input:focus{
    border-color: 4px solid hsl(278, 68%, 11%);
}


.expiry{
    display: flex;
}

.month-year{
    width: 25%;
}

.month-year input{
    width: 30%;
}

.cvc input{
    width: 90%;
}

.btn__class{
    width: 50%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    background-color: hsl(278, 68%, 11%);
    color: #fff;
    font-family: inherit;
    cursor: pointer;
}

.confirmation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    margin-left: 370px;
    visibility: hidden;
}
.head{
    font-size: 25px;
    letter-spacing: 3px;
    margin: 10px 0;
}

.sub{
    font-size: 16px;
    margin: 10px 0;
    color: hsl(279, 6%, 55%)
}


.icon-complete{
    width: 100px;
    height: 100px;
    text-align: center;
    margin-bottom: 10px;
    
}

.confirm{
    width: 100%;
}



@media (max-width: 767px) {
    body{
        /* width: 500px; */
        width: 100vw;
        overflow-x: hidden;
    }
    .container{
        display: flex;
        flex-direction: column;
    }

    .bg-main{
        background-image: url("../../images/bg-main-mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 200%;
        height: 10%;
    }

    .card-details{
        position: absolute;
        z-index: 2;
        top: 110px;
        left: 0;
        right: 90px;
    }

    .card-logo{
        position: absolute;
        top: 57px;
        left: 20px;
        right: 0;
        bottom: 0;
        z-index: 2;
    }

    .card-image{
        position: relative;
        top: 50px;
        z-index: 2;
        width: 310px;
    }

    .card-number {
        font-size: 20px;
        letter-spacing: 1px;
        margin-bottom: 30px;
        margin-left: 15px;
    }
    
    .card-holder {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-left: 10px;
    }
    .value, .cvc-value, .date{
        font-size: 12px;
    }

    .card-image-back{
        position: absolute;
        top: 33px;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        width: 310px;
        margin-right: 30px;
    }

    .text-overlay{
        position: absolute;
        letter-spacing: 1px;
        top: 100px;
        left: 390px;
        color: #fff;
        z-index: 2;
        padding: 30px;
    }

    .form-container{
        margin: 100px 0px 0 80px;
    }

    input{
        /* margin: 10px 40px; */
        padding: 7px;
        width: 70%;
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 500;
        border: 1px gray solid;
        border-radius: 5px;
        outline: none;
    }

    .expiry{
        display: flex;
    }
    
    .month-year{
        width: 35%;
        margin-right: 5px;
    }
    
    .cvc {
        width: 38%;
    }    
    .btn__class {
        width: 70%;
        margin-bottom: 30px;
    }

    .confirmation{
        margin: 70px 0 10px 120px;
        visibility: hidden;
        padding: 0;
    }

    .confirm{
        width: 150%;
    }
}

